
<h1>Introduction</h1>
Welcome to a simple library of needed functions that will fuel your projects with easy to use expressions that will help you calculate and gather your array information.

<h1>NPM Install instructions</h1>
The installation of our module is easy, simply go into your command line and type in:

npm install….

<h1>Use of functions</h1>

Specific Function Documentation

<h2>chunk</h2>
This function allows us to spilt elements of arrays into groups by size. In the case that the array can't be split evenly, the final chunk will be include all remaining elements.
<pre>
  chunk(['a', 'b', 'c', 'd'], 2);
  // ➜ [['a', 'b'], ['c', 'd']]

  chunk(['a', 'b', 'c', 'd'], 3);
  // ➜ [['a', 'b', 'c'], ['d']]
</pre>

<h2>concat</h2>
This function helps us assemble multiple arrays and values as one array. This concatenating of different arrays and values may come in handy to help organize data/information.
<pre>
  var array = [1];
  var other = concat(array, 2, [3], [[4]]);

  console.log(other);
  // ➜ [1, 2, 3, [4]]

  console.log(array);
  // ➜ [1]
</pre>

<h2>filter</h2>
This function iterates over elements of collection, returning an array of all elements predicate returns truthy for. The predicate is invoked with three arguments: (value, index|key, collection).
<pre>
  var users = [
    { 'user': 'barney', 'age': 36, 'active': true },
    { 'user': 'fred',   'age': 40, 'active': false }
  ];

  filter(users, function(o) { return !o.active; });
  // ➜ objects for ['fred']
</pre>

<h2>find</h2>
This function iterates over elements of collection, returning the first element predicate returns truthy for. The predicate is invoked with three arguments: (value, index|key, collection). These functions may stop early by returning false.
<pre>
  var users = [
    { 'user': 'barney',  'age': 36, 'active': true },
    { 'user': 'fred',    'age': 40, 'active': false },
    { 'user': 'pebbles', 'age': 1,  'active': true }
  ];

  find(users, function(o) { return o.age < 40; });
  // ➜ object for 'barney'
</pre>

<h2>forEach</h2>
this function iterates over elements of collection an invokes iteratee for each element. The iteratee is invoked with three arguments: (value, index|key, collection). These functions may stop early by returning false.
<pre>
  forEach({ 'a': 1, 'b': 2 }, function(value, key) {
    console.log(key);
  });
</pre>

<h2>head</h2>
this function iterates over elements of collection an invokes iteratee for each element. The iteratee is invoked with three arguments: (value, index|key, collection). These functions may stop early by returning false.
<pre>
  head([1, 2, 3]);
  // ➜ 1

  head([]);
  // ➜ undefined
</pre>

<h2>indexOf</h2>
This function gets the index of the first occurrence of value in an array, keep in mind that this is found using SameValueZero for equality comparisons.
<pre>
  indexOf([1, 2, 1, 2], 2);
  // ➜ 1
</pre>

<h2>inRange</h2>
This is a strictly numerical function that checks if n is between start and up to, but not including, end. If end is not specified, it's set to start with start then set to 0. If start is greater than end, the params are swapped to support negative ranges.
<pre>
  inRange(3, 2, 4);
  // ➜ true

  inRange(4, 8);
  // ➜ true
</pre>

<h2>join</h2>
Converts all elements in array into a string separated by separator.
<pre>
  join(['a', 'b', 'c'], '~');
  // ➜ 'a~b~c'
</pre>

<h2>last</h2>
This function gets the last element of the array.
<pre>
  last([1, 2, 3]);
  // ➜ 3
</pre>

<h2>map</h2>
This function helps us map the contents of an array. When you call on this, the result will give you the contents in the correct order, whether it is an array of similar values or a mix of values, collections and strings.
<pre>
  map([4, 8], square);
  // ➜ [16, 64]
</pre>

<h2>mathAdd</h2>
A simple function that allows for the addition of two integers without excessive lines of code. We did the code for you!

<pre>
  mathAdd(6, 4);
  // ➜ 10
</pre>
This function is simple, yet with this code all you have to is invoke mathAdd(integer, integer) and you are set!

<h2>mathCeil</h2>
When we want to round up integers at the decimal level, this function takes care of it without any math!

<pre>
  mathCeil(4.006);
  // ➜ 5
</pre>
Take note that we needed to create an if/else if/else statement that allowed us to round up negative integers as easily as we could round them down in the mathFloor function. Yet, there are clear differences between both functions.

<h2>mathFloor</h2>
When we want to round down integers at the decimal level, this function takes care of it without us having to do math!
Here is the root code of the function so you can understand how it works:

<pre>
  mathFloor(4.006)
  // => 4
</pre>
Take note that the code also imports utility code called power10. This allows us to use a block of code that will enable us to utilize precision when rounding down a number. We will have some documentation on that function later on.

<h2>mathMax</h2>
This function allows you to compute the maximum value of an array. In this context the max value would be the largest value in the array.
Here is the root code of the function so you can understand how it works:

<pre>
  mathMax([4, 2, 8, 6])
  // => 8
</pre>

<h2>mathSubtract</h2>
A simple function, like mathAdd that allows for the subtraction of two integers without excessive lines of code.

<pre>
  mathSubtract(6, 4);
  // ➜ 2
</pre>
Like the mathAdd, all you have to do is invoke mathSubtract(integer, integer)

<h2>nth</h2>
Gets the element at index n of array. If n is negative, the nth element from the end is returned.
var array = ['a', 'b', 'c', 'd'];
<pre>
  nth(array, 1);
  // ➜ 'b'

  nth(array, -2);
  // ➜ 'c';
</pre>

<h2>reduce</h2>
Reduces collection to a value which is the accumulated result of running each element in collection thru iteratee, where each successive invocation is supplied the return value of the previous.
var array = ['a', 'b', 'c', 'd'];
<pre>
  reduce([1, 2], function(sum, n) {
    return sum + n;
  }, 0);
  // ➜ 3
</pre>

<h2>reverse</h2>
Reverses array so that the first element becomes the last, the second element becomes the second to last, and so on.
var array = ['a', 'b', 'c', 'd'];
<pre>
  var array = [1, 2, 3];

  reverse(array);
  // ➜ [3, 2, 1]

  console.log(array);
  // ➜ [3, 2, 1]
</pre>

<h2>shuffle</h2>
this function creates and array of shuffled values.
<pre>
  shuffle([1, 2, 3, 4]);
  // ➜ [4, 1, 3, 2]
</pre>

<h2>size</h2>
this function gets the size of a collection by returning its length for an array-like values or the number of own enumberable string keyed properties for objects.
<pre>
  size([1, 2, 3]);
  // ➜ 3

  size({ 'a': 1, 'b': 2 });
  // ➜ 2
</pre>

<h2>tail</h2>
This function gets all but the first element of the array.
<pre>
  tail([1, 2, 3]);
  // ➜ [2, 3]
</pre>

<h2>take</h2>
Creates a slice of array with n elements taken from the beginning.
<pre>
  take([1, 2, 3]);
  // ➜ [1]

  take([1, 2, 3], 2);
  // ➜ [1, 2]

  take([1, 2, 3], 5);
  // ➜ [1, 2, 3]
</pre>

<h2>takeRight</h2>
Creates a slice of array with n elements taken from the end.
<pre>
  takeRight([1, 2, 3]);
  // ➜ [3]

  takeRight([1, 2, 3], 2);
  // ➜ [2, 3]

  takeRight([1, 2, 3], 5);
  // ➜ [1, 2, 3]

</pre>
